body {
    font-family:"Rodoto",sans-serif;
    color: #2E2F42;
    background-color:#FFFFFF;
}
.emblem{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}
.navigation-list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.mail {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.mail:hover,
.mail:focus {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #404BBF;
}
.pfone {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.pfone:hover,
.pfone:focus {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #404BBF;
}
.upper-part {
        width: 1440px;
        height: 600px;
        top: 72px;
        gap: 0px;
        opacity: 0px;
        background-color: #2E2F42;
}
.replik{
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        width: 496px;
        height: 120px;
        top: 260px;
        left: 472px;
        gap: 0px;
        opacity: 0px;
}
.knop{
        width: Hug (169px)px;
        height: Hug (56px)px;
        top: 428px;
        left: 636px;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
        background-color:#4D5AE5;
}
.knop:hover {
    width: Hug (169px)px;
        height: Hug (56px)px;
        top: 88px;
        left: 20px;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
        background-color:#404BBF;
}
.knop-tekst{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
}
 .com {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:#434455;
}
.retro{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.agov{
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.imy{
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
}
.info-imy{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
}
.topctor {
width: 1440px;
height: 312px;
top: 2988px;
gap: 0px;
opacity: 0px;
background-color: #2E2F42;
}
.tekct {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
}