body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.emblem{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform:uppercase;
    color: #4d5ae5;
}
.kolorstudio{
    color:#2E2F42;
}
.navigation-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.navigation-list:hover,
.navigation-list:focus{
    color: #404bbf;
}
.adres-norm{
font-style: normal;
}
.mail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.mail-fonts:hover,
.mail-fonts:focus {
    color: #404BBF;
}
.pfone {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.pfone-fonts:hover,
.pfone-fonts:focus {
    color: #404BBF;
}
.upper-part {
        width: 1440px;
        height: 600px;
        top: 72px;
        gap: 0px;
        opacity: 0px;
        background-color: #2E2F42;
}
.replik{
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        line-height: 1.07;
}
.content{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #FFFFFF;
        width: Hug (169px)px;
        height: Hug (56px)px;
        top: 428px;
        left: 636px;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
        background-color:#4D5AE5;
        cursor:pointer;
}
.content:hover,
.content:focus {
        background-color:#404BBF;
        cursor: pointer;
}
 .com {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:#434455;
}
.retro{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.agov{
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.imy{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
}
.info-imy{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
}
.topctor {
width: 1440px;
height: 312px;
top: 2988px;
gap: 0px;
opacity: 0px;
background-color: #2E2F42;
}
.tekct {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
}